In [1]:
from cbs_pandas import Client

In [2]:
cbs = Client()

In [3]:
cbs.search("deelnemers leeftijd basiseducatie")

In [4]:
dataset = cbs.get('00371edu')

In [7]:
dataset.df

      Id  Measure ValueAttribute     Value Geslacht Leeftijd  Perioden
0      0  M007497           None  145420.0        3       00  1993JJ00
1      1  M007497           None  138450.0        3       00  1994JJ00
2      2  M007497           None  125430.0        3       00  1995JJ00
3      3  M007497           None  117650.0        3       00  1996JJ00
4      4  M007497           None  109670.0        3       00  1997JJ00
..   ...      ...            ...       ...      ...      ...       ...
397  397  M007497           None    5700.0        2       60  2000JJ00
398  398  M007497           None    6570.0        2       60  2001JJ00
399  399  M007497           None    7520.0        2       60  2002JJ00
400  400  M007497           None    7300.0        2       60  2003JJ00
401  401  M007497           None    7260.0        2       60  2004JJ00

[402 rows x 7 columns]